<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body class="error">
    <header class="error__header">
      <h1 class="error__header-title">Error!</h1>
    </header>
    <main class="error__main">
      <h2 class="error__message"><%= message %></h2>
      <p class="error__status-code">Status Code: <%= status %></p>
      <a class="error__home-link" href="/">Go to Home</a>
    </main>
  </body>
</html>
